
body {
    background: lightgrey;
  }
  
  h2 {
    width: 50%;
   margin-left: 100px;
   padding: 3px;
   text-decoration: underline;
  }
  
  
  ul {
   margin-left: 20px;
   padding: 1px;
  }
  
  img {
    width: 100px;
    float: left;
    margin: 10px;
    border-radius: 30px;
  }
  
  .blinky{
    border: solid 3px;
    border-color: red;